* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-icones: #96BB7C;
}

.rodape {
    width: 100%;
    height: 60px;
    background-color: #FAFAFA;
}

.rodape-container {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    width: 85%;
    margin: 0 auto;
}

.rodape i {
    color: var(--cor-icones);
    margin-right: 1rem;
    font-size: 1.5rem;
}

.rodape p {
    font-size: 14px;
    font-weight: bold;
    color: #737373;
}